<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header class="main-header">
    <h1>HN FEED</h1>
    <h2>We &lt;3 hacker news!</h2>
  </header>
  <div class="news-list">
    <table class="table" id="tableID">
      <tr *ngFor="let newfeed of newsList"  id="trId" >
        <td class="title">
            <div class="title_story">
                {{newfeed.title}} {{newfeed.story_title}}
            </div>           
            <div class="author">
                - {{newfeed.author}} -
            </div>
        </td>
        <td class="time">
          {{newfeed.created_at | date: 'HH:mm a'}}
        </td>
        <td class="trash" (click)="getRowData(newfeed)">
            <div id="id_image">
                <img src="assets/img/trash.png" class="center">
            </div>
               
        </td>
      </tr>
    </table>
  </div>
</body>

</html>
