.main-header {
    background-color: #333333;
    padding: 2.5rem 2rem;
    
}

.main-header h1, .main-header h2 {
    color: white;
    font-family: Roboto, serif;
    margin: 1rem 0;
}

.main-header h1 {
    font-size: 50px;
}

.main-header h2 {
    font-size: 20px;
}

.news-list {
    margin: 0 .5rem;
}

.table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 15px;
}

.title {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: red;
    
}
.title_story {
    text-align: left;
    width: auto;
    color: red;
    display: inline-block;
    color: #333; 
    margin: 0 7px;
}
.author {
    text-align: left;
    width: auto; 
    color: #999;
    display: inline-block;
}

.time {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    color: #333;
}

.trash {
    padding: 18px;
    text-align: left;
    border-bottom: 1px solid #ccc;
    display: block;
}

img {
    max-width:15px;
    height:15px;
    align-items: center;
}

tr:hover{
    background-color:#fafafa;
}